# Backend
ConnectionStrings__Default=Server=(localdb)\mssqllocaldb;Database=IpiProDb;Trusted_Connection=True;MultipleActiveResultSets=true;TrustServerCertificate=True
ASPNETCORE_URLS=http://localhost:5000
ASPNETCORE_ENVIRONMENT=Development

# Frontend
VITE_API_BASE=http://localhost:5173/api
VITE_LAB_ID=1
